* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	width: 1200px;
	font-size: 0;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
.big-square {
	background-color: #000;
	height: 900px;
	width: 370px;
	margin: 30px 15px;
	float: right;
}
.small-square {
	background-color: #000;
	height: 260px;
	margin: 30px 15px;
	width: 170px;
	float: left;
}