* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.wrapper {
	width: 900px;
	margin: 100px auto;
}
.block {
	float: left;
	padding: 0 15px;
}
.item_block {
	border: 4px solid #ff001e;
	position: relative;
}
.item_block:hover {
	opacity: 1;
}
img {
	display: inline-block;
	vertical-align: middle;
}
.description {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	z-index: 1;
	opacity: 0;
}
.description:hover {
	opacity: 1;
}
.block_description {
	position: absolute;
	left: 12px;
	right: 12px;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 5px;
	bottom: 10px;
}