/*          responsive
-----------------------------------*/

			/*1200px*/
@media screen and (max-width: 1200px) {
	.logo {
		padding-left: 5%;
	}
	.row-banner {
		padding-top: 8%;
		height: 700px;
	}
	.icon {
		margin-top: 70px;
	}
	.button-span {
		margin-top: -15px;
	}
	.info-title {
		font-size: 20px;
		padding-bottom: 10px;
	}
	.info-description {
		font-size: 16px;
		line-height: 20px;
		width: 90%;
	}
	.row-services {
		padding-left: 5%;
		padding-right: 5%;
	}
} 

			/*1024px*/
@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.logo {
		padding-left: 5%;
	}
	.row-banner {
		height: 650px;
	}
	.icon {
		margin-top: 70px;
	}
	.button-span {
		margin-top: -35px;
	}
	h3 {
		font-size: 24px;
	}
	h1 {
		font-size: 62px;
	}
	.row-banner > p {
		font-size: 14px;
		text-align: center;
	}
	.column {
		width: 49%;
	}
	.portfolio-details-link {
		width: 50%;
	}
	.row-services {
		padding-left: 5%;
		padding-right: 5%;
	}
}

			/*768px*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.nav {
		display: none;
	}
	.burger-nav.active {
		display: block;
	}
	.burger-button {
		display: inline-block;
	}
	.burger-li {
		display: block;
	}
	.burger-menu {
		width: 40%;
	}
	.logo {
		padding-left: 10%;
	}	
	.row-banner {
		height: 600px;
	}
	h3 {
		font-size: 20px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		margin-top: -70px;
		font-size: 36px;
	}
	.icon {
		margin-top: 50px;
	}
	.button-span {
		margin-top: -45px;
	}
	.row-banner > p {
		font-size: 14px;
		text-align: center;
		margin-left: -30px;
	}
	.column {
		display: inline-flex;
		width: 49%;
		justify-content: space-around;
		align-items: center;
		margin-top: 80px;
	}
	.service-image {
		display: none;
	}
	.row-services {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.row-services-col {
		width: 45%;
		margin: 0 auto;
	}
	.monogram-another {
		text-align: center;
		margin-bottom: 10px;
		color: #7e8287;
		font-size: 16px;
	}
	.row-services-description > h2 {
		margin-bottom: 30px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 800;
		font-size: 36px;
		color: #02918c;
	}
	.row-services-description > p {
		text-align: center;
		color: #7e8287;
		font-size: 16px;
		line-height: 41px;
		padding-right: 50px;
		padding-left: 50px;
	}
	.services-columns {
		width: 100%;
	}
	.row-services-col {
		width: 49%;
		display: inline-block;
		text-align: center;
	}
	.col-width {
		width: 100%;
		display: block;
		padding: 20px 40px;
	}
	.col-width > h4 {
		margin: 10px 0;
	}
	.header-portfolio > p {
		width: 60%;
	}
	.header-contact {
		width: 80%;
		padding-bottom: 30px;
	}
	.portfolio-block {
		margin-top: 30px;
	}
	.portfolio-details-link {
		width: 50%;
	}
	.portfolio-details-link:hover .info {
		opacity: 0;
	}
	input.email-input,
	input.name-input {
		width: 70%;
	}
}

		/*480px*/
@media screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper {
		margin: 0 auto;
	}
	.logo {
		padding-left: 10%;
	}
	.nav {
		display: none;
	}
	.burger-nav.active {
		display: block;
	}
	.burger-button {
		display: inline-block;
	}
	.burger-li {
		display: block;
	}
	.burger-menu {
	 	width: 50%;
	}
	.burger-menu-list:hover {
		color: #fff;
	}
	.service-image {
		display: none;
	}
	.row-banner {
		
		height: 500px;
	}
	.icon {
		padding-top: 25px;
	}
	.button-span {
		margin-top: -55px;
	}
	h3 {
		font-size: 16px;
	}
	h1 {
		font-size: 34px;
		letter-spacing: 8px;
	}
	h2 {
		margin-top: -80px;
		font-size: 30px;
	}
	.row-banner > p {
		font-size: 10px;
		text-align: center;
	}
	.icon {
		margin-top: 10px;
	}
	.column {
		margin-top: 10px;
		width: 100%;
	}
	.column + .column {
		border: 0;
	}
	.column-about {
		width: 50%;
	}
	.row-services {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.row-services-col {
		width: 45%;
		margin: 0 auto;
	}
	.monogram-another {
		text-align: center;
		margin-bottom: 10px;
		color: #7e8287;
		font-size: 16px;
	}
	.row-services-description > h2 {
		margin-bottom: 30px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 800;
		font-size: 30px;
		color: #02918c;
	}
	.row-services-description > p {
		text-align: center;
		color: #7e8287;
		font-size: 16px;
		line-height: 41px;
		padding-right: 50px;
		padding-left: 50px;
	}
	.services-columns {
		width: 100%;
	}
	.row-services-col {
		width: 49%;
		display: inline-block;
		text-align: center;
	}
	.col-width {
		width: 100%;
		display: block;
		padding: 20px 40px;
	}
	.col-width > h4 {
		margin: 10px 0;
	}
	.header-portfolio > p {
		width: 80%;
	}
	.portfolio-details-link {
		width: 100%;
	}
	.header-contact {
		width: 80%;
		padding-bottom: 20px;
	}
	.portfolio-block {
		margin-top: 20px;
	}
	.portfolio-details-link:hover .info {
		opacity: 0;
	}
	input.email-input,
	input.name-input {
		width: 70%;
	}
}

			/*479px*/
@media screen and (max-width: 479px) {
	.wrapper {
		max-width: 479px;
	}
	.logo {
		padding-left: 10%;
	}
	.nav {
		display: none;
	}
	.burger-nav.active {
		display: block;
	}
	.burger-button {
		display: inline-block;
	}
	.burger-li {
		display: block;
	}
	.burger-menu {
	 	width: 50%;
	}
	.burger-menu-list:hover {
		color: #fff;
	}
	.service-image {
		display: none;
	}
	.row-banner {
		
		height: 400px;
	}
	h3 {
		font-size: 16px;
	}
	h1 {
		font-size: 34px;
		letter-spacing: 8px;
	}
	h2 {
		margin-top: -80px;
		font-size: 24px;
	}
	.row-banner > p {
		font-size: 10px;
		text-align: center;
	}
	.icon {
		margin-top: 25px;
	}
	.button-span {
		margin-top: -70px;
	}
	.column {
		margin-top: 10px;
		width: 100%;
	}
	.column + .column {
		border: 0;
	}
	.column-about {
		width: 50%;
	}
	.row-services {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.row-services-col {
		width: 45%;
		margin: 0 auto;
	}
	.monogram-another {
		text-align: center;
		margin-bottom: 10px;
		color: #7e8287;
		font-size: 16px;
	}
	.row-services-description > h2 {
		margin-bottom: 30px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 800;
		font-size: 24px;
		color: #02918c;
	}
	.row-services-description > p {
		text-align: center;
		color: #7e8287;
		font-size: 16px;
		line-height: 41px;
		padding-right: 50px;
		padding-left: 50px;
	}
	.services-columns {
		width: 100%;
	}
	.row-services-col {
		width: 49%;
		display: inline-block;
		text-align: center;
	}
	.col-width {
		width: 100%;
		display: block;
		padding: 20px 40px;
	}
	.col-width > h4 {
		margin: 10px 0;
	}
	.header-portfolio > p {
		width: 80%;
	}
	.portfolio-details-link {
		width: 100%;
	}
	.header-contact {
		width: 80%;
		padding-bottom: 20px;
	}
	.portfolio-block {
		margin-top: 20px;
	}
	.portfolio-details-link:hover .info {
		opacity: 0;
	}
	input.email-input,
	input.name-input {
		width: 70%;
	}
}